*{
    margin: 0;
    padding: 0;
    font-family: Red Hat Display;
    font-size: 16px;
}

body{
    background: hsl(225, 100%, 98%);
    padding-left: 450px;
    padding-top: 650px;
    position: relative;
}

main{
    background: #fff;
    /*border: 1px solid red;*/
    max-width: 415px;
    border-radius: 16px;
    height: 630px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagem-principal{
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.centro-texto{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: hsl(223, 47%, 23%);
    font-size: 40px;
}

p {   
    color: hsl(224, 23%, 55%);
    width: 75%;
    text-align: center;
    padding-left: 50px;
    margin-bottom: 20px;
}

.plano{
    display: flex;
    align-items: center;
    background: hsl(225, 100%, 98%); 
    width: 315px;
    height: 50px;
    padding: 20px 20px;
    border-radius: 10px;
    justify-content: space-between;
    margin: 0 30px 40px 30px; 
}

.dados-plano{
    display: flex;
    align-items: center;
    padding: 0px;
    margin-right: 110px;
}

a {
    color: hsl(245, 75%, 52%);
    font-weight: bold;
}

.plano a:hover {
    color:hsl(223, 47%, 23%)
}

button{
    background: hsl(245, 75%, 52%);
    border-radius: 10px;
    color: #fff;
    display: flex;   
    padding-left: 110px;
    height: 40px;
    align-items: center;
    font-weight: 600;
    width: 85%;  
    border: none;
    margin: 16px 16px 45px 30px;
}

button:hover {
    background: hsl(223, 47%, 23%);
    transition: all 0.4s;
}

.cancelar-ordem{
    text-decoration: none;
    font-weight: bold;
    color: hsl(224, 23%, 55%);
    padding-left: 160px;
}







/*border: 1px solid red;*/