*{
    margin: 0;
    padding: 0;
    font-family: Red Hat Display;
    font-size: 16px;
}

body{
    background: hsl(225, 100%, 98%);
    padding-left: 450px;
    padding-top: 10px;
}

main{
    background: #fff;
    /*border: 1px solid red;*/
    max-width: 415px;
    border-radius: 16px;
    height: 630px;
}

.imagem-principal{
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.centro-texto{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: hsl(223, 47%, 23%);
    font-size: 40px;
}

p {
    
    color: hsl(224, 23%, 55%);
    width: 80%;
    text-align: center;
    padding-left: 50px;
    margin-bottom: 20px;
}

.plano{
    display: flex;
    align-items: center;
    background: hsl(225, 100%, 98%); 
    width: 310px;
    height: 50px;
    padding: 20px 20px;
    border-radius: 16px;
    justify-content: space-between;
    margin: 0 30px;
    
}

.dados-plano{
    display: flex;
    align-items: center;
    padding: 0px;
    margin-right: 110px;

    
}

/*border: 1px solid red;*/